<!DOCTYPE html>
<html>
  <head>
    <title>MYCHATAPPN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="ui container">
  <div class="ui inverted small menu">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Account <i class="dropdown icon"></i>
      <div class="menu">
      <% if logged_in? %>
      <%= link_to "Logout", logout_path, method: :delete, class: "item" %>
      <% else %>
      <%= link_to "Login",login_path, class: "item" %>
      <% end %>
      </div>
    </div>
    <div class="item">
        <div class="ui primary button">Sign Up</div>
    </div>
  </div>
</div>

  </div>
  <div class="ui container">
    <%= yield %>
  </div>  
  </body>
</html>
